<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}JP's Session Entry App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body>
    
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>
   
    {% block content %}
    {% endblock %}
 
</body>
</html>