{% extends "session_entry/base.html" %}
{% load static %}

{% block title %}Capture{% endblock %}

{% block content %}


<!-- One -->
<section id="One" class="wrapper style3"><div class="inner">
	<header class="align-center">
		<p>Track your workouts</p>
		<h2>Capture</h2>
	</header></div>
</section>






{% load crispy_forms_tags %}

{% block styles %}
    <style>
        .form-separator { border-bottom: 1px solid #ccc; margin: 20px 0; }
    </style>
{% endblock %}


<!-- Main -->
<div id="main" class="container">

<!-- Elements -->
<h2 id="elements">Elements</h2>
<div class="row 200%">
<div class="6u 12u$(medium)">
<body>
    {% crispy form %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var cardioCounter = 0;

            $('#add-cardio-btn').click(function(e) {
                e.preventDefault();
                cardioCounter++;
                $.ajax({
                    url: "{% url 'get_cardio_form' %}",
                    data: {
                        'form_index': cardioCounter
                    },
                    dataType: 'html',
                    success: function(html) {
                        $('#cardio-exercises').append(html);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error("AJAX error: " + textStatus + ' : ' + errorThrown);
                        alert("An error occurred while trying to add a cardio exercise. Please try again.");
                    }
                });
            });
        });
    </script>
</body>

</div>
</div>
</div>





{% endblock %}