{% extends "session_entry/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


<!-- Banner -->
<section class="banner full">
	<article><img src="{% static 'images/alt_slide05.jpg' %}" alt="" width="1440" height="961">
		<div class="inner">
		<header>
			<p> You've landed...</p>
			<h2>Welcome</h2>
		</header>
		</div>
	</article>
	<article><img src="{% static 'images/alt_slide03.jpg' %}" alt="" width="1440" height="961">
		<div class="inner">
		<header>
			<p>Track your workouts</p>
			<h2><a href="capture">Capture</a></h2>
		</header>
		</div>
	</article>
	<article><img src="{% static 'images/alt_slide04.jpg' %}" alt="" width="1440" height="962">
		<div class="inner">
		<header>
			<p>Assess your progress</p>
			<h2><a href="analyse">Analyse</a></h2>
		</header>
		</div>
	</article>
</section>

			
		
{% endblock %}